.box{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    background-color: red;
    /* transform: rotate(90deg); */
    /* transform: rotateX(45deg); */
    /* transform: rotateY(45deg); */
    /* transform: rotateZ(45deg); */
    
    /* transform: scale(1.2); */
    /* transform: scaleX(1.2); */

    /* transform: skew(45deg); */
    
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
    transition: all 5s ease-in-out 2s;
}

.box:hover{
    background-color: blue;
    color: aqua;
    transform: translateX(200px) translateY(200px) skew(10deg);
    /* transform: rotate(360deg); */
}