/* .box{
    background-color:blue;
    width: 50%;
    height: 600px;
    border: 5px solid black;
    border-radius: 15px;
} */
/* 
.box2{
    background-color:blue;
    width: 50%;
    height: 50%;
    border: 5px solid black;
    border-radius: 15px;
} */



/* .box{
    width: 50%;
    height: 500px;
    background-color: red;
    background-color: rgb(0,0,255,0.555);
    background-color: #00f;
    background-color: #ff0000;
    border: 5px solid black;
    border-radius: 15px;
} */

.box{
    width: 50%;
    height: 500px;
    background-color: red;
    /* border: 5px solid black; */

    /* border-top: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black; */

    border-width: 10px;
    border-style: solid;
    border-color: black;
    /* border-radius: 50px; */
    /* border-bottom-left-radius: 100px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 300px; */
    /* border-top-right-radius: 500px; */
}

.box:hover{
    background-color: yellow;

}