/* .box{
    background-color:blue;
    width: 50%;
    height: 600px;
    border: 5px solid black;
    border-radius: 15px;
}

.box2{
    background-color:blue;
    width: 50%;
    height: 50%;
    border: 5px solid black;
    border-radius: 15px;
} */


.box{
    width: 50%;
    height: 500px;
    /* background-color: red; */
    /* background-color: rgb(0,0,255,0.555); */
    /* background-color: #00f; */
    background-color: #ff0000;
}

/* 1-color name
2-rgb(red,green,blue) - 0-255
3-rgba(red,green,blue,alpha-0-1) 
4-hsl(Hue, saturation,lighting)
5-3digit hex - #rgb - 0-f - 16*16*16 -4K
6-6digit hex - #rrggbb */