.box{
    width: 40%;
    height: 500px;
    background-color: red;
    border: 20px solid black;
    float: left;

    /* margin-top: 20px; */
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
    /* margin-left: 20px; */


    /* margin: 10px; */
    /* margin: 100px 50px   30px   10px;
    margin: top   right bottom left;

    margin: 100px 50px   30px;
    margin: top   right bottom
                  /left */

    /* margin:100px     10px;
    margin:top      right
           /bottom  /left
     */

    margin: 10px;




    padding: 20px ;

    

}