.box1{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    background-color: red;
    position: relative;
    top: 0px;
    left: 0px;
}
.box2{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    background-color: yellow;
    position: sticky;
    top: 5px;
    z-index: 1;
}
.box3{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    background-color: green;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.box4{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    background-color: blue;
}

.boxA{
    width: 200px;
    height: 50px;
    border: 2px solid black;
    margin: 5px;
    background-color: orange;
    position: absolute;
    top: 10px;
}